node_modules/
credentials.json
token.json
gcp-oauth.keys.json
google-docs-mcp/node_modules/
google-docs-mcp/credentials.json
google-docs-mcp/token.json
google-docs-mcp/gcp-oauth.keys.json
google-slides-mcp/node_modules/
google-slides-mcp/credentials.json
google-slides-mcp/token.json
google-slides-mcp/gcp-oauth.keys.json
.env
google-calendar-mcp/node_modules/
google-calendar-mcp/credentials.json
google-calendar-mcp/token.json
google-calendar-mcp/gcp-oauth.keys.json
google-gmail-mcp/node_modules/
google-gmail-mcp/credentials.json
google-gmail-mcp/token.json
google-gmail-mcp/gcp-oauth.keys.json
google-slides-mcp/node_modules/
google-slides-mcp/credentials.json
google-slides-mcp/token.json
google-slides-mcp/gcp-oauth.keys.json